body {
	font-family: 'Courier New', monospace;
	background-color: #2b2b2b;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.terminal {
	background-color: #2b2b2b;
	color: #ffffff;
	width: 500px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.header {
	background-color: #2d2d2d;
	padding: 5px;
	user-select: none;
}

.body {
	padding: 10px;
}

pre {
	margin: 0;
}

input {
	width: calc(100% - 20px);
	padding: 5px;
	margin-top: 10px;
	background-color: transparent;
	border: none;
	outline: none;
	color: #ffffff;
}

.input:before {
	content: "$";
	color: #8ae234;
	margin-right: 5px;
}

.button {
	width: 12px;
	height: 12px;
	display: inline-block;
	margin-right: 5px;
	border-radius: 50%;
	cursor: pointer;
}

.close {
	background-color: #f44242;
}

.minimize {
	background-color: #f4d442;
}

.maximize {
	background-color: #42f44e;
}